.nav-container {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto Condensed";
  width: 100vw;
  height: 7vh;
  background: rgb(26, 29, 34);
  color: #f42b4b;
  border-bottom: 2px solid #f42b4b;
}
.nav-container-login {
  display: flex;
  justify-content: flex-end;
  font-family: "Roboto Condensed";
  align-items: center;
  width: 100vw;
  height: 7vh;
  background: rgb(26, 29, 34);
  color: #f42b4b;

  border-bottom: 2px solid #f42b4b;
}
.nav-container::visted {
  color: #f42b4b;
}
.left-nav {
  display: flex;
  width: 50vw;
  justify-content: flex-start;
  font-family: "Roboto Condensed";
}
.right-nav {
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: flex-end;
  margin: 20px;
}
.button {
  height: 4vh;
  font-weight: bold;
  font-size: 8px;
  background-color: #f42b4b;
  color: rgb(255, 255, 255);
}
.button:hover {
  background-color: #f42b4b;
  color: white;
  border: 2px solid white;
  transition: 0.5s;
}
