.nav-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100vw;
    height:7vh;
    background-color: white;
    color: #F42B4B;

    border-bottom: 2px solid #F42B4B;
;

}
.nav-container-login{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height:7vh;
    background-color: white;
    color: #F42B4B;

    border-bottom: 2px solid #F42B4B;
;

}
.nav-container::visted{
    color: #F42B4B;
}
.left-right{
    display: flex;
    justify-content: flex-start;
}
.right-nav{
    display: flex;
    justify-content: flex-end;
}
.button{
    height: 4vh;
    font-weight: bold;
    font-size: 8px;
    background-color: #F42B4B;
    color: rgb(255, 255, 255);
}
.button:hover{
background-color: #F42B4B;
color:white;
border: 2px solid white;
transition: .5s;
}