a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
  margin:2%;
  text-transform: uppercase;
}
a:-webkit-any-link:hover{
  color:#fcbf1e;
  transition: .5s;
  text-decoration: underline;

}