a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
  margin:2%;
  text-transform: uppercase;
}
a:-webkit-any-link:hover{
  color:white;
  transform:scale(1.1);
  transition: .5s;
  text-decoration: underline;

}
body{
  background:#e8e8e8;
}